<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cnm.deepdive.northstarsharingclient">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
      android:maxSdkVersion="18"
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
      android:name="android.hardware.camera"
      android:required="false"/>
    <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false"/>



    <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_star"
      android:label="@string/app_name"
      android:name=".NorthStarSharingApplication"
      android:roundIcon="@mipmap/ic_star_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

        <activity
          android:label="@string/activity_main_title"
          android:name=".controller.activity.MainActivity">
        </activity>

        <activity android:name=".controller.activity.LoginActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <provider
          android:authorities="edu.cnm.deepdive.northstarsharingclient"
          android:exported="false"
          android:grantUriPermissions="true"
          android:name="androidx.core.content.FileProvider">
            <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>


</manifest>